:root {
  --md-admonition-icon--extension: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22 12a10 10 0 01-10 10A10 10 0 012 12 10 10 0 0112 2a10 10 0 0110 10M6 13h8l-3.5 3.5 1.42 1.42L17.84 12l-5.92-5.92L10.5 7.5 14 11H6v2z"/></svg>')
}
.md-typeset .admonition.extension,
.md-typeset details.extension {
  border-color: #805AD5
}
.md-typeset .extension > .admonition-title,
.md-typeset .extension > summary {
  background-color: #805AD51a;
}
.md-typeset .extension > .admonition-title::before,
.md-typeset .extension > summary::before {
  background-color: #805AD5;
  -webkit-mask-image: var(--md-admonition-icon--extension);
          mask-image: var(--md-admonition-icon--extension);
}